<%= form_for @contract do |form| %>
	<p>
		<%= form.label :students %>
		<%= form.collection_select :students, @students, :id, :name %>  		
	</p>
	<p>	
	<p>
		<%= form.label :companies %>
		<%= form.collection_select :companies, @companies, :id, :name %>
	<p>
	<p>
		<%= form.label :contract_type %>
		<%= form.collection_select :contract_types, @contract_types, :id, :libelle %>
	<p>		
	<p>
		<%= form.label :date_debut %>
		<%= form.date_select :date_debut, :order => [:day, :month, :year]%>
	</p>
	<p>
		<%= form.label :date_fin %>
		<%= form.date_select :date_fin, :order => [:day, :month, :year]%>
	</p>
	<%= form.submit %>
<% end %>
