<h1>Contract</h1>
<table class="table table-bordered table-condensed">
	<thead>
			<td>Student</td>
			<td>Company</td>
			<td>Contract type</td>
			<td>Date start</td>
			<td>Date end</td>
			<td>Action</td>
	</thead>
<% @contracts.each do |c| %>
	<tr>
		<td><%= c.student.user.name %></td>
		<td><%= c.company.name %></td>
		<td><%= c.contract_type.name %></td>
		<td><%= c.date_start %></td>
		<td><%= c.date_end %></td>
		<td>
			<%= link_to "Show", c %>
			<% if admin_signed_in? %>
				<%= link_to "Edit", [:edit, c] %>
				<%= link_to 'Delete', c, :confirm => 'Are you sure ?', :method => :delete %>
			<% end %>
		</td>
	</tr>
<% end %>
</table>
<%= link_to "Add", :action => 'new' %>
