<h1>Contract</h1>
<p>Student : <%= @contract.student.user.name %></p>
<p>Company : <%= @contract.company.name %></p>
<p>Contract type : <%= @contract.contract_type.name %></p>
<p>Date start : <%= @contract.date_start %></p>
<p>Date end : <%= @contract.date_end %></p>
<p><%= link_to "Companies list", :action => 'index' %></p>
