<h1>Contract</h1>
Etudiant : <%= @contract.student.user.name %><br />
Entreprise : <%= @contract.company.name %><br />
Type de contrat : <%= @contract.contract_type.libelle %><br /> 
Nom : <%= @contract.date_debut %><br />
Rue : <%= @contract.date_fin %><br />
<br />
<%= link_to "Companies list", :action => 'index' %>