<%= form_for @student do |form| %>
	<p>
		<%= form.label :name %>
		<%= form.text_field :name %>
	</p>
	<p>
		<%= form.label :email %>
		<%= form.text_field :email %>
	</p>
	<% if !@new.blank? %>
		<p>
			<%= form.label :password %>
			<%= form.password_field :password %>
		</p>
	<% end %>
	
	<p>
		<%= form.label :klass %>
		<%= form.collection_select :klass_id, Klass.all, :id, :name %>
	</p>
	<%= form.submit %>
<% end %>