<h1>Student</h1>
<p>Name : <%= @student.user.name %></p>
<p>Email : <%= @student.user.email %></p>
<<<<<<< HEAD
<p>Class : <%= @student.klass.name %></p>
<p><%= link_to "Students list", :action => 'index' %></p>
=======
<p>Current class : <%= @student.klass.name %></p>
<p><%= link_to "Students list", :action => 'index' %></p>
<<<<<<< HEAD
>>>>>>> students_klasses
=======
>>>>>>> students_klasses
