<h1>Contract Types</h1>
<table>
	<thead>
			<td>Libelle</td>
			<td>Action</td>
	</thead>
<% @contract_type.each do |c| %>
	<tr>
		<td><%= c.libelle %></td>
		<td>
			<%= link_to "Show", c %>
			<% if admin_signed_in? %>
				<%= link_to "Edit", [:edit, c] %>
				<%= link_to 'Delete', c, :confirm => 'Are you sure ?', :method => :delete %>
			<% end %>
		</td>
	</tr>
<% end %>
</table>
<%= link_to "Add", :action => 'new' %>