<h1>Subjects</h1>
<table class="table table-bordered table-condensed">
	<thead>
			<td>Name</td>
			<td>Action</td>
	</thead>
<% @subjects.each do |s| %>
	<tr>
		<td><%= s.name %></td>
		<td>
			<%= link_to "Show", s %>
			<%= link_to "Edit", [:edit, s] %>
			<%= link_to 'Delete', s, :confirm => 'Are you sure ?', :method => :delete %>
		</td>
	</tr>
<% end %>
</table>
<%= link_to "Add", :action => 'new' %>