<h1>Lessons</h1>
<table class="table table-bordered table-condensed">
	<thead>
			<td>Subject</td>
			<td>Teacher</td>
			<td>Class</td>
			<td>Room</td>
			<td>Date/hour Start</td>
			<td>Date/hour End</td>
	</thead>
<% @lessons.each do |l| %>
	<tr>
		<td><%= l.subject.name %></td>
		<td><%= l.teacher.nameTeacher %></td>
		<td><%= l.klass.name %></td>
		<td><%= l.room.name %></td>
		<td><%= l.date_hour_start %></td>
		<td><%= l.date_hour_end %></td>
		<td>
			<%= link_to "Show", l %>
			<% if admin_signed_in? %>
				<%= link_to "Edit", [:edit, l] %>
				<%= link_to 'Delete', l, :confirm => 'Are you sure ?', :method => :delete %>
			<% end %>
		</td>
	</tr>
<% end %>
</table>
<%= link_to "Add", :action => 'new' %>