<h1>Lesson</h1>
<p>Current subject : <%= @lesson.subject.name %></p>
<p>Current teacher : <%= @lesson.teacher.nameTeacher %></p>
<p>Current class : <%= @lesson.klass.name %></p>
<p>Current room : <%= @lesson.room.name %></p>
<p>Date/hour Start : <%= @lesson.date_hour_start %></p>
<p>Date/hour End : <%= @lesson.date_hour_end %></p>
<p><%= link_to "Lessons list", :action => 'index' %></p>