<h1>Lesson</h1>
<p>Subject : <%= @lesson.subject.name %></p>
<p>Teacher : <%= @lesson.teacher.nameTeacher %></p>
<p>Class : <%= @lesson.klass.name %></p>
<p>Room : <%= @lesson.room.name %></p>
<p>From : <%= @lesson.date_hour_start %></p>
<p>To : <%= @lesson.date_hour_end %></p>



<% if admin_signed_in? %>
	<p><%= link_to "Lessons list", :action => 'index' %></p>
<% else %>
	<p><%= link_to "Planning", :controller => 'planning' , :action => 'index' %></p>
<% end %>