<h1>Rooms</h1>
<table class="table table-bordered table-condensed">
	<thead>
			<td>Name</td>
			<td>Places number</td>
			<td>Computers number</td>
	</thead>
<% @rooms.each do |r| %>
	<tr>
		<td><%= r.name %></td>
		<td><%= r.nb_places %></td>
		<td><%= r.nb_computers %></td>
		<td>
			<%= link_to "Show", r %>
			<% if admin_signed_in? %>
				<%= link_to "Edit", [:edit, r] %>
				<%= link_to 'Delete', r, :confirm => 'Are you sure ?', :method => :delete %>
			<% end %>
		</td>
	</tr>
<% end %>
</table>
<%= link_to "Add", :action => 'new' %>