<h1>Absences</h1>
<table class="table table-bordered table-condensed">
	<thead>
			<td>Student</td>
			<td>Justificative</td>
	</thead>
<% @absences.each do |a| %>
	<tr>
		<td><%= a.student.user.name %></td>
		<td><%= a.justificative %></td>
		<td>
			<%= link_to "Show", a %>
			<% if admin_signed_in? %>
				<%= link_to "Edit", [:edit, a] %>
				<%= link_to 'Delete', a, :confirm => 'Are you sure ?', :method => :delete %>
			<% end %>
		</td>
	</tr>
<% end %>
</table>
<%= link_to "Add", :action => 'new' %>